.class1 {
    margin: auto;
    width: 800px;
    height: 400px;

    background: #8987a5;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.button_class {
    padding-left: 10px;
    padding-right: 10px;
    margin: 1px;
    width: auto;
    height: 2rem;
    background: burlywood;
}

.textAreaClass {
    margin: auto;
    width: 800px;
    height: 100px;

}

.textArea {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.active {
    background: aqua
}

.button_class.active {
    background: aqua;
}